.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inner-container {
    width: 330px; /* Adjust the width of the calculator container */
    height: 700px; /* Adjust the height of the calculator container */
    position:relative;
    border-radius:40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;

   
  }
  
  .output {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(245, 240, 240);
    font-size: 10xl;
    margin-left:10px;
    margin-bottom:20px;
    margin-top:160px;
    max-width: 100%; /* Limit the width of the display */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (......) when the text overflows */
    white-space: nowrap; /* Prevent wrapping of text */
  }
  
  .button {
    padding: 4px;
    border-radius: 50%;
    border: medium;
    font-size: 1xl;
    background-color: #ffffff;
    color: black;
    margin: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .inner-container {
      width: 90%; /* Adjust the width of the calculator container for smaller screens */
    }
  }
  
  .iphone {
    margin:auto;
    border:10px solid black;
    border-radius:40px;
    width: 340px; 
    height: 720px;
    position:relative;
    box-shadow:0px 20px 15px #33333335;
  }
  .notch {
    z-index:50;
    top:0;
    left:62px;
    position:absolute;
    background:#000000;
    width:200px;
    height:30px;
    border-radius:0px 0px 20px 20px;
  }